<%- include ('../../partials/header.ejs'); %>
  <body>
    <%- include ('../../partials/navbar.ejs'); %>
    <div class="container">
      <h2 class="pt-4">Usuários</h2>
      <a href="/admin/users/create" class="btn btn-success">Criar um novo usuário</a>
      <hr class="mb-5" color="#ccc">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
					<% users.forEach(user => { %>
						<tr>
							<td><%= user.id %></td>
							<td><%= user.email %></td>
						</tr>  
					<% }) %>
        </tbody>
			</table>
			
    </div>
  </body>
<%- include ('../../partials/footer.ejs'); %>